*{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.header{
    background: rgba(248, 203, 0, 1);
    height: 140px;
    
    
}
nav{
    padding-top: 15px;
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav h1, nav p, nav ul{
    width: 25%;
}
nav form{
    width: 75%;
}

.header-list{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-list li{
    margin-left: 15px;
    list-style-type: none;
}
.header-list a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}